body {
      text-align: center;
      background: url("http://i.imgur.com/hGwMw8d.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
   
   h1 {
     font-size: 27px;
   }
   
   img {
  margin: 30px 0px 0px 0px;
  border: 5px solid white;
  border-radius: 300px;
  max-height: 200px;
}
    
    p {
      font-size: 22px;
}
    input {
      border: 0;
      padding: 10px;
      font-size: 18
}

    div {
  margin: 25px auto 0 auto;
  border-style: double;
  border-width: 5px;
  border-color: white;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 0 10px 0 10px;
  word-wrap: break-word;
  max-width: 700px;
}